@import "~ant-design-vue/lib/style/themes/default";
.bg-white {
    background-color: #fff;
}
.bg-primary {
    background-color: @primary-color;
}
.text-danger {
    color: @error-color;
}
.text-primary {
    color: @primary-color;
}
.text-success {
    color: @success-color;
}
.text-error {
    color: @error-color;
}
.text-warning {
    color: @warning-color;
}
.text-gray {
    color: gray;
}