.table-container {
    .table-container-s-table {
        height: 100%;
        .ant-table-wrapper {
            height: 100%;
            .ant-spin-nested-loading {
                height: 100%;
                .ant-spin-container {
                    display: flex;
                    flex-direction: column;
                    .ant-table {
                        flex: 1;
                        .ant-table-fixed {
                            tr td {
                                white-space: normal;
                            }
                        }

                    }
                }
            }
        }
    }
}