.admin-layout {
    .admin-layout-header {
        background: #fff;
        padding: 0;
        height: 48px;
        line-height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .trigger {
            font-size: 18px;
            padding: 0 24px;
            cursor: pointer;
            transition: color .3s;
        }

        .menu-tab {
            border-bottom: none;
        }
    }

    .admin-layout-sider {
        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;

            .logo {
                height: 32px;
                background: rgba(255, 255, 255, .2);
                margin: 16px;
            }

            .menus {
                flex: 1;
                overflow: auto;
            }
        }

    }

    .admin-layout-content {
        padding: 24px;
    }
}