@container-pad: 20px;
@menu-item-pad: 12px;
.admin-layout {
    .admin-layout-header {
        background: #fff;
        padding: 0;
        height: 48px;
        line-height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .trigger {
            font-size: 18px;
            padding: 0 @container-pad;
            cursor: pointer;
            transition: color .3s;
        }

        .menu-tab {
            border-bottom: none;
            flex: 1;
            .ant-menu-item {
                padding: 0 @menu-item-pad;
                margin: 0 3px;
                &:hover {
                    .menu-tab-close {
                        display: inline-block;
                    }
                }

                .menu-tab-close {
                    display: none;
                    transform: scale(.9);
                    position: absolute;
                    right: -15px;
                    margin-top: -10px;
                }
            }
        }

    }

    .admin-layout-sider {
        box-shadow: 2px 0 6px rgba(0, 21, 41, .35);

        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;

            .logo {
                height: 32px;
                background: rgba(255, 255, 255, .2);
                margin: 16px;
            }

            .menus {
                flex: 1;
                overflow: auto;
            }
        }

    }

    .admin-layout-content {
        padding: @container-pad;
    }
}