@container-pad: 20px;
@menu-item-pad: 12px;
.admin-layout {
    overflow: hidden;
    .admin-layout-header {
        background: #fff;
        padding: 0;
        height: 48px;
        line-height: 48px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .trigger {
            font-size: 18px;
            padding: 0 @container-pad;
            cursor: pointer;
            transition: color .3s;
        }

        .menu-tab {
            flex: 1;
            overflow: hidden;
            padding-right: 50px;
            .ant-menu {
                border-bottom-color: transparent;
            }
        }

    }

    .admin-layout-sider {
        box-shadow: 2px 0 6px rgba(0, 21, 41, .35);

        .ant-layout-sider-children {
            display: flex;
            flex-direction: column;

            .logo {
                height: 32px;
                background: rgba(255, 255, 255, .2);
                margin: 16px;
            }

            .menus {
                flex: 1;
                overflow: auto;
            }
        }

    }

    .admin-layout-content {
        padding: @container-pad;
    }
}