@import "~ant-design-vue/lib/style/themes/default";
.page-layout {
    .page-layout-menus {
        background: @menu-dark-bg;
        z-index: 1;
        .brand {
            font-size: 16px;
            float: left;
            color: #fff;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-right: 20px;
        }
    }
    .page-layout-wrapper {
        padding-top: 10px;
    }
    &.page-layout-fixed-menu {
        .page-layout-menus {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
        }
        .page-layout-wrapper {
            margin-top: 46px;
        }
    }
}